/******************************************
/* RESET STYLES
/*******************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font: 400 20px/1.5em "Inter", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/******************************************
/* HEADER STYLES
/*******************************************/

.header {
    height: 72px;
    position: relative;
    background-color: #656D4A;
    ;
}

.header-items {
    display: inline-block;
    margin-top: 22px;
    margin-left: 14px;
}

.header-items:first-child {
    margin-left: 96px;
}

.header-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.logo span,
.pizza,
h4,
footer section+section span,
footer section+section span+span,
.contact {
    font: 800 18px/21px "Raleway", Arial, sans-serif;
    text-transform: uppercase;
}

header .logo span {
    position: absolute;
    right: 10%;
    top: 35%;
    color: #70E000;
}

.logo span+span {
    color: white;
    right: 5.8%;
}

.logo-img {
    display: inline;
    position: absolute;
    right: 15%;
    top: 18%;
}

.logo {
    width: 50%;
    float: left;
}

.logo-slice {
    position: absolute;
    right: 10%;
    top: 35%;
    color: #70E000;
}

.logo-house {
    color: white;
    right: 5.8%;
}

/* footer css */

.footer {
    background: #EDE0D4;
    height: 251px;
    display: flex;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 4rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;

}

.logo1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color: #414833;

}

.logo2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color: #0A0908;
}

.contact {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.second {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-right: 4rem;
    max-width: fit-content;
}

.second p {
    align-self: flex-end;
}


.quote {
    align-self: flex-start;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 44px;
    text-transform: uppercase;
    color: #656D4A;
}

.name {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
}

.name span {
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 10px;
}